body {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.fade-in {
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
}

@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

h1 {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 80px;
    letter-spacing: -0.01em;
    text-align: center;
    margin: 10px;
}

#intro {
    font-size: 52px;
}

#subtitle {
    margin: 0px;
    padding: 0px;
}

h2 {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.01em;
}

#noscrollfade {
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
}

h3 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 0.025em;
}

ul {
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.02em;
    list-style-type: none;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

li {
    display: inline;
    padding: 14px 16px;
}

p {
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 36px;
    letter-spacing: 0.02em;
}

a {
    text-decoration: none;
    color: black;
}

hr {
    margin: 0px;
}

nav {
    /* display: inline-block; */
    height: 60px;
    align-items: center;
    padding-left: 17%;
    padding-right: 17%;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 0px;
}

ul li a {
    text-decoration:none;
    color: black;
}

ul li a:hover {
    /* text-decoration: underline #7CAFC4 4px; */
    border-bottom: 4px #7CAFC4 solid;
}
ul li a:active {
    border-bottom: 4px #7CAFC4 solid;
}

#logo {
    float: left;
    margin: 0px;
    padding-top: 9px;
}

.photogrid {
    padding-bottom: 75px;
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 8%;
}

.photogridimg {
    padding: 0px 0px;
    display: block;
    flex: 0 1 auto; /* Default */
    list-style-type: none;
}

#toprow {
    padding-top: 10px;
}

#bottomrow {
    padding-bottom: 20px;
}

#links {
    float: right; 
    padding-inline-start: 0px;
}

#links > li {
    float: left;
    margin-left: 10px;
}

div {
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 0px;
}

.centercontainer {
    padding-left: 17%;
    padding-right: 17%;
    text-align: center;
    height: 85vh;
    /* display: block; */
    position: relative;
    /* border: 3px solid green; */
    display: flex;
    /* flex-direction: row;
    align-items: flex-start; */
}

.verticallycenter {
  margin: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.shortcentercontainer {
    padding-left: 17%;
    padding-right: 17%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#maintenance {
    height: 85vh;
}

#meetstacyheader {
    line-height: 50px;
}

.leftcontainer {
    text-align: left;
    /* background-size: cover; */
    padding-left: 17%;
    padding-right: 17%;
    padding-bottom: 40px;
    margin-top: 27px;
    margin-bottom: 0px;
}

.button {
    font-family: Noto Sans;
    font-size: 16px;
    line-height: 28px;
    background: #7CAFC4;
    color: white;
    margin-top: 0px;
    padding: 15px 37px;
    border-radius: 34.5px;
    border: transparent;
    outline: none;
}

.button:hover {
    background-color: #72A5BA;
    color: white;
}

#mainbutton {
    padding-top: 50px;
}

a .fa {  
  font-size:1.5em;
  border-radius: 50%;
  border: solid white;
  color: white;
  background: #7CAFC4;
  line-height: 2em;
  width: 2em;
  height: 2em;
  text-align: center;
  display: inline-block;
  transition:0.5s;
}

#ghostbutton {
    background: transparent;
    border: 5px solid #7CAFC4;
    padding: 10px 37px;
}

/* CHANGE THIS ONE */
#container2 {
    padding-bottom: 60px;
    padding-top: 0px;
    margin: 0px;
}

/* CHANGE THIS ONE */
#container3 {
    text-align: left;
    background-size: cover;
    padding-left: 17%;
    padding-right: 17%;
    padding-bottom: 60px;
    padding-top: 39px;
    margin: 0px;
}

/* CHANGE THIS ONE */
#subheader {
    text-align: center;
}

#scroll-target {
    background-color: #393c4e;
    background-size: cover;
    color: #F4F4F5;
    padding-left: 17%;
    padding-right: 17%;
    padding-top: 50px;
    margin: 0px;
}

.socials {
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline;
    flex-direction: row;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 36px;
}

.socials > li {
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#photo {
    padding-top: 12px;
    padding-bottom: 0px;
}

#ghostbutton2 {
    padding-left: 8%;
}

#projectsheader {
    padding-bottom: 9%;
}

.project {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px;
    padding-bottom: 16%;
}

.projecttextbuttonleft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    padding-right: 80px;
}

.projecttextleft {
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: 0px;
}

.projecttextleft > h2 {
    margin-top: 0px;
}

.projecttextbuttonright {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0px;
    padding: 0px;
    margin-bottom: 0px;
    padding-left: 90px;
    margin-right: 0px;
}

.projecttextright {
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: 0px;
    margin-right: 0px;
}

.projecttextright > h2 {
    margin-top: 0px;
}

footer {
    margin-top: 50px;
    height: 160px;
    position: relative;
    justify-content: center;
    text-align: center;
    padding-left: 17%;
    padding-right: 17%;
}

footer ul li {
    margin-left: 10px;
}