
/* DESIGN SYSTEM */
html {
    /* Body text */
    font-family: 'Epilogue', sans-serif;
    font-size: 17px;
    color: #565656;
    line-height: 32px;
    letter-spacing: -0.005em;
    /* Background */
    /* background-color: #FCFCFC; */
    background-color: #F8F6F4;
    margin-left: 0%;
    margin-right: 0%;
    overflow-x: hidden;
}
h1 {
    /* H1 header */
    font-weight: 500;
    font-size: 40px;
    line-height: 62px;
    letter-spacing: -0.02em;
    color: #1A1A1A;
}
h2 {
    /* H2 footer title */
    font-weight: 500;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -0.01em;
    color: #1A1A1A;
}
h3 {
    /* H3 project titles */
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: -0.005em;
    color: #1A1A1A;
    margin-top: 0rem;
    margin-bottom: 0rem;
}
h4 {
    /* H4 subtitle */
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.01em;
    color: #1A1A1A;
}
.logo {
    /* Text style */
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #1A1A1A;
    /* Positioning */
    float: left;
    margin: 0%;
    padding-top: 2.25rem;
    padding-bottom: 0px;
}
.button-primary {
    /* Button text */
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
    /* Button styling */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 14px;
    padding-left: 26px;
    padding-right: 26px;
    background: #3C3C3C;
    border-radius: 6px;
    text-decoration: none;
}
.button-primary:hover {
    background: #565656;
    color: #FFFFFF;
    text-decoration: none;
}
.button-secondary, .button-secondary:hover {
    /* Button text */
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #3C3C3C;
    text-decoration: none;
    /* Button styling */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 14px;
    padding-left: 26px;
    padding-right: 26px;
    background: transparent;
    border-radius: 6px;
    outline-style: solid;
    outline-color: #3C3C3C;
}
#back-to-top {
    /* Button text */
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
    /* Button styling */
    align-items: center;
    position: fixed;
    bottom: 3.25rem;
    right: 4.5rem;
    /* bottom: 36px;
    right: 44px; */
    z-index: 99;
    cursor: pointer;
    background: #3C3C3C;
    border-radius: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* padding: 0.75rem 1.9rem; */
    border: transparent;
    outline: none;
}
#back-to-top:hover {
    background-color: #565656;
}
nav {
    /* Nav link */
    min-height: 8rem;
    align-items: bottom;
    padding-left: 16rem;
    padding-right: 16rem;
    padding-top: 1.25rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
}
nav > ul {
    float: right; 
    padding-inline-start: 0%;
    line-height: 2.25rem;
}
nav > ul > li {
    float: left;
    display: inline;
    padding-top: 0.8rem;
    padding-left: 3.25rem;
    padding-right: 0rem;
}
nav > ul > li > a {
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: -0.01em;
    color: #3C3C3C;
    text-decoration: none;
}
nav > ul > li > a:hover {
    /* font-weight: 700;
    letter-spacing: -0.005em; */
    color: #1A1A1A;
    text-decoration: underline;
}
a {
    /* Text link */
    font-weight: 500;
    font-size: 17px;
    line-height: 32px;
    letter-spacing: -0.01em;
    text-decoration-line: none;
    color: #3C3C3C;
}
a:hover {
    /* color: #565656; */
    color: #1A1A1A;
    text-decoration: underline;
    background: #FCF5B9;
}
/* h1 > span:hover, h2 > span:hover {
    background: #FCF5B9;
    cursor: default;
} */
footer {
    margin-top: 0rem;
    margin-bottom: 2.25rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
footer > h2 {
    margin-top: 34px;
    margin-bottom: 34px;
    font-weight: 500;
}
footer > h2 > a {
    /* H2 footer title */
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.01em;
    color: #3C3C3C;
}
footer > ul {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
}
 footer > ul > li {
    display: inline;
    padding-left: 0px;
    padding-right: 48px;
}
.line {
    height: 2px;
    /* background-color: #3C3C3C; */
    background-color: #dfdfdf;
    margin-left: 1rem;
    margin-right: 3rem;
}



/* ANIMATIONS */
.fade-in {
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
}
@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}
@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}
@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}
@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}
@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

.title-word {
    animation: color-animation 6s linear infinite;
    /* font-weight: 700; font-size: 40px; line-height: 56px; letter-spacing: 0.01em; color: #3C3C3C; */
    font-weight: 700;
    padding-top: 0.5rem;
    padding-bottom: 0.25rem;
    /* padding-left: 0.25rem;
    padding-right: 0.25rem; */
    /* -webkit-text-stroke: 1px black; */
    /* background-color: #1A1A1A; */
  }
  
  .title-word-1 {
    /* --color-1: #F9EE8B; */
    --color-1: radial-gradient(ellipse at 50% 50%, #84D86D 0%, #F8F6F4 100%);
    --color-2: #F8F6F4;
    --color-3: #F8F6F4;
    /* --background-color-1: #F9EE8B;
    --background-color-2: #3C3C3C;
    --background-color-3: #3C3C3C; */
  }
  
  .title-word-2 {
    --color-1: #F8F6F4;
    /* --color-2: #7FD368; */
    --color-2: radial-gradient(ellipse at 50% 50%, #F9EE8B 0%, #F8F6F4 100%);
    --color-3: #F8F6F4;
    /* --background-color-1: #3C3C3C;
    --background-color-2: #6BBF54;
    --background-color-3: #3C3C3C; */
  }
  
  .title-word-3 {
    --color-1: #F8F6F4;
    --color-2: #F8F6F4;
    --color-3: radial-gradient(ellipse at 50% 50%, #F0C0D0 0%, #F8F6F4 100%);
    /* --color-3: #F0C0D0; */
    /* --background-color-1: #3C3C3C;
    --background-color-2: #3C3C3C;
    --background-color-3: #F0C0D0; */
  }
  
  @keyframes color-animation {
    0%    {background-image: var(--color-1)}
    32%   {background-image: var(--color-1)}
    33%   {background-image: var(--color-2)}
    65%   {background-image: var(--color-2)}
    66%   {background-image: var(--color-3)}
    99%   {background-image: var(--color-3)}
    100%  {background-image: var(--color-1)}
  }


/* INDEX PAGE */
body {
    margin: 0px;
}
.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1rem;
    padding-right: 2.65rem;
    /* padding-right: 2rem; */
}
.project-1-col {
    margin: 0px;
    padding-bottom: 3rem;
    padding-left: 2rem;
    padding-right: 3rem;
    padding-top: 1.5rem;
}
.project-1-col-text {
    /* margin: 0%; */
    margin: auto;
    padding: 0%;
    padding-left: 0rem;
    padding-right: 0rem;
    /* padding-bottom: 3rem; */
    padding-bottom: 1rem;
    max-width: 85%;
    text-align: center;
}
.project-1-col-text > .button-primary {
    display: inline;
}
/* .project-1-col-text > p {
    margin-top: 0.8rem;
    padding-bottom: 1.25rem;
} */
.project-1-col-text > h3 {
    margin-top: 0.8rem;
    /* padding-bottom: 1.25rem; */
}
.project-1-col-left {
    margin: 0px;
    padding-bottom: 6rem;
    padding-left: 2rem;
    padding-right: 3rem;
    padding-top: 1.5rem;
}
.project-1-col-text-left {
    margin: 0%;
    padding: 0%;
    padding-left: 0rem;
    padding-right: 0rem;
    padding-bottom: 3rem;
    max-width: 85%;
}
.project-1-col-text-left > p {
    margin-top: 0.8rem;
    padding-bottom: 1.25rem;
}
.project-2-col {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px;
    justify-content: space-between;
    padding-bottom: 7rem;
    padding-left: 2rem;
    padding-right: 3.25rem;
}
.project-2-col-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0%;
    padding: 0%;
    padding-left: 0rem;
    padding-right: 0rem;
    max-width: 35%;
}
.project-2-col-text > p {
    padding-bottom: 1.25rem;
}
.project-2-col-image {
    margin-top: 0%;
    margin-bottom: 0%;
    max-width: 56%;
    padding-top: 1%;
    text-align: right;
}
.line-behind {
    position: relative;
    z-index: 1;
    text-align: center;
    margin-bottom: 0.5rem;
    
    &:before {
        border-top: 2px solid #dfdfdf;
        content:"";
        margin: 0 auto; /* this centers the line to the full width specified */
        position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
        top: 50%; left: 0; right: 0; bottom: 0;
        width: 95%;
        z-index: -1;
    }
}
#no-decor {
    font-weight: 400;
    font-family: 'Epilogue', sans-serif;
    font-size: 17px;
    color: #565656;
    line-height: 32px;
    letter-spacing: -0.005em;
    text-decoration: none;
}
#no-decor:hover {
    text-decoration: none;
}
.glow-gold, .glow-green, .glow-blue {
    transform: scale(0.96);
    transition: all .3s ease-in-out;
}
.glow-gold:hover {
    /* border:2px solid #dfdfdf;
    border-radius: 48px; */
    /* background-color: #FFFFFF; */
    /* margin-left: 0.5rem;
    margin-right: 1.5rem; */

    transform: scale(1.0);
    /* background-color: #F7CF60; */
    cursor: pointer;

    /* background-image: radial-gradient(ellipse at 50% 54%, #FBF6C9 0%, #FCFCFC 66%); */
    background-image: radial-gradient(ellipse at 50% 56%, #FFFFB5 0%, #F8F6F4 66%);
    background-position: bottom; /* Align the glow to the bottom */
}

.glow-green:hover {
    /* border:2px solid #dfdfdf; */
    border-radius: 36px;
    /* background-color: #FFFFFF; */
    /* margin-left: 0.5rem;
    margin-right: 1.5rem; */

    transform: scale(1.0);
    /* background-color: #F7CF60; */
    cursor: pointer;

    background-image: radial-gradient(ellipse at 50% 54%, #E4FEE2 0%, #F8F6F4 70%);
    background-position: bottom; /* Align the glow to the bottom */
}

.glow-blue:hover {
    /* border:2px solid #dfdfdf; */
    border-radius: 36px;
    /* background-color: #FFFFFF; */
    /* margin-left: 0.5rem;
    margin-right: 1.5rem; */

    transform: scale(1.0);
    /* background-color: #F7CF60; */
    cursor: pointer;

    background-image: radial-gradient(ellipse at 50% 54%, #DEEFFF 0%, #F8F6F4 70%);
    background-position: bottom; /* Align the glow to the bottom */
}

#HiddenText {
    display: none;
    color: #1A1A1A;
    text-decoration: underline;
    font-weight: 500;
}
.glow-gold:hover #HiddenText, .glow-green:hover #HiddenText, .glow-blue:hover #HiddenText {
    display: block;
}
#HiddenText-img {
    display: flex; align-items: center; justify-content: center; margin-top: 2rem;
}
.glow-gold:hover #HiddenText-img, .glow-green:hover #HiddenText-img, .glow-blue:hover #HiddenText-img {
    margin-top: 0rem;
}
#values-small, #fun-small, #notice {
    display: none;
}


/* ME PAGE */
.photos-1-row {
    display: flex;
    align-items: flex-start;
    margin: 0%;
    padding: 0%;
    padding-left: 0rem;
    padding-right: 0rem;
}

/* CASE STUDY */
.case-study-content {
    padding-left: 4rem;
    padding-right: 4rem;
}
.case-study-content > .project-2-col {
    padding-left: 0rem;
    padding-right: 0rem;
    padding-top: 3rem;
    padding-bottom: 4rem;
}
.highlight {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 80%;
}
.highlight > p {
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
}
.modal-target {
    cursor: pointer;
    transition: 0.3s;
    margin-top: 0%;
    margin-bottom: 0%;
    max-width: 56%;
    padding-top: 1%;
    text-align: right;
}

.modal-target:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 3rem; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  opacity: 1 !important;
  height: 80vh;
  width: auto;
  /* max-width: 1200px; */
}

/* Caption of Modal Image */
.modal-caption {
  margin: auto;
  display: block;
  width: 80%;
  /* max-width: 1200px; */
  text-align: center;
  color: white;
  font-weight: 400;
  font-size: 1em;
  margin-top: 32px;
}

/* Add Animation */
.modal-content, .modal-caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-atransform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.modal-close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.modal-close:hover,
.modal-close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}








/* SCROLL TARGET */
.scroll-target {
    background-color: #E2E8FD;
    background-size: cover;
    /* color: #F4F4F5; */
    /* padding-left: 17%;
    padding-right: 17%; */
    /* padding-top: 50px; */
    /* padding-top: 4%;
    padding-bottom: 8px; */
    margin: 0%;
}
#scroll-target-header {
    margin: 0px;
    padding-top: 3.5rem;
    padding: 0.75rem;
    /* padding-bottom: 2.5rem; */
    padding-left: 15rem;
    padding-right: 15rem;
    /* padding-top: 128px;
    padding-bottom: 80px;
    padding-left: 240px;
    padding-right: 240px; */
}
#scroll-target-h2-shortened {
    margin-bottom: 1.25rem;
}


.project-no-padding {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px;
    padding-bottom: 6rem;
}
.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-left: 16%;
    margin-right: 16%; */
    margin-top: 0%;
    margin-bottom: 3.75rem;
    padding-left: 3.5rem;
    padding-right: 3.75rem;
    padding-top: 4.75rem;
    padding-bottom: 5rem;

    background: linear-gradient(118.08deg, rgba(255, 255, 255, 0.4) 15.69%, rgba(255, 255, 255, 0.1) 75.11%);
    border: 1px solid rgba(58, 58, 58, 0.08);
box-sizing: border-box;
backdrop-filter: blur(40px);
/* Note: backdrop-filter has minimal browser support */
box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.02);
border-radius: 20px;
    /* background: linear-gradient(0deg, #3a3a3a, #3a3a3a);
    border-radius: 20px; */
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}
.card:hover, .card:active {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    top: -2px;
    left: -2px;
    background: #FFD8BC;
}
#grey {
    background: #F5F5F5;
}
#purple {
    background: #F7F4FF;
}
#peach {
    background: #FFD8BC;
}
#light-blue {
    background: linear-gradient(0deg, #E2F5FD, #E2F5FD);
}
#green {
    background: linear-gradient(0deg, #E2FDED, #E2FDED);
}
#dark-blue {
    background: linear-gradient(0deg, #E2E8FD, #E2E8FD);
}
/* #project-small {
    padding-top: 1rem;
    padding-bottom: 6rem;
} */
#project-small > .projectrow-right > ul {
    line-height: 1.875rem;
    padding-inline-start: 1.5rem;
}
#project-small > .projectrow-right > ul > li {
    padding-left: 0.75rem;
    padding-bottom: 0.0625rem;
}
.projectrow {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 0%;
    padding-left: 3.25rem;
    padding-right: 0rem;
    /* padding-right: 6%; */
    max-width: 58%;
    /* filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.1)); */
}
.projectrow-video {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 0%;
    padding-left: 5rem;
    padding-right: 0rem;
    width: 70%;
}

.projectrow-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 0%;
    padding-left: 3.25rem;
    padding-right: 0rem;
    /* padding-right: 6%; */
    max-width: 100%;
    /* filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.1)); */
}
#test {
    width: 800% !important;
}
#subtitle {
    margin-bottom: 0.25rem;
}
.card > .projectrow-card > h3 {
    margin-top: 0rem;
    margin-bottom: 0rem;
}
.project-side {
    margin-top: 0%;
    margin-bottom: 0%;
    max-width: 40%;
    text-align: right;
}

.projectimage-video {
    width: 100%;
}
.projectrowtext {
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: 0%;
    padding-bottom: 1.25rem;
    /* padding-bottom: 20px; */
}
.projectrowtext > h3 {
    margin-top: 0%;
}

/* PROJECT */
.container {
    margin-top: 5rem;
    margin-bottom: 4.5rem;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}
.container-content {
    margin: 0rem;
    padding: 0rem;
    cursor: pointer;
    transition: transform .5s ease;
}
.container-content:hover {
    transform: scale(0.96);
    /* color: #5E4AE3; */
    /* mix-blend-mode: normal;
    filter: drop-shadow(6px 6px 2px rgba(168, 164, 192, 0.16)); */
    /* top: -4px;
    left: -4px; */
}
.container h3{
    margin-bottom: 1.25rem;
}









/* ABOUT PAGE */
.content {
    padding-top: 1.5rem;
    padding-left: 18rem;
    padding-right: 18rem;
    /* padding-top: 24px;
    padding-left: 240px;
    padding-right: 240px; */
}
#top {
    padding-top: 2rem;
    margin-bottom: 0rem;
    /* padding-top: 40px; */
}
.content > ul {
    font-family: "Rubik";
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.875rem;
    /* font-size: 16px;
    line-height: 30px; */

    /* margin: 0%; */
    /* padding: 10px; */
    padding-inline-start: 2rem;
    /* padding-inline-start: 20px; */
}
.content > ul > li {
    padding-left: 0.75rem;
    padding-bottom: 0.0625rem;
    /* padding-left: 16px;
    padding-bottom: 1px; */
}
.content > h2 {
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
    /* margin-top: 24px;
    margin-bottom: 12px; */
}
.content > h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    /* margin-top: 16px;
    margin-bottom: 16px; */
}
.photogrid {
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
    width: 100%;
    margin: 0px;
    padding: 0px;
    padding-bottom: 7rem;
    /* padding-bottom: 112px; */
    list-style: none;
    padding-inline-start: 0px !important;
}
.photogrid > li {
    padding: 0% !important;
    width: 33%;
}

/* PROJECT PAGE */
.section {
    padding-top: 0px;
    padding-bottom: 1.5rem;
    /* padding-bottom: 24px; */
    margin-top: 0px;
    margin-bottom: 0px;
}
.section > h6 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    /* margin-top: 16px;
    margin-bottom: 8px; */
}
.content > .section > ul, .projectrow-video > .section > ul {
    font-family: "Rubik";
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.8rem;
    /* font-size: 16px;
    line-height: 30px; */

    /* margin: 0%; */
    /* padding: 10px; */

    padding-inline-start: 1.6rem;
    /* padding-inline-start: 20px; */
}
.content > .section > ul > li, .projectrow-video > .section > ul > li {
    padding-left: 0.6rem;
    padding-bottom: 0.0625rem;
    /* padding-left: 16px;
    padding-bottom: 1px; */
}
.scroll-target > .section {
    margin: 0px;
    padding-left: 15rem;
    padding-right: 15rem;
    padding-bottom: 4rem;
    padding-top: 4rem;
    /* padding-left: 240px;
    padding-right: 240px;
    padding-bottom: 64px;
    padding-top: 64px; */
}
#double-buttons {
    margin: 0rem;
}
#double-buttons-responsive {
    display: inline;
}
table {
    font-family: "Rubik";
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #3A3A3A;
    text-align: left;
    padding: 1rem;
    line-height: 1.5rem;
}
tr:first-child {
/* tr:nth-child(even) { */
    /* background-color: #B1E8FF; */
    color: #26292B;
    font-weight: bold;
}

#About {
    padding-left: 20rem;
    padding-right: 20rem;
}


/* RESPONSIVENESS */
@media (min-width: 1400px) {
    .margins {
        width: 1512px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .left-right-padding {
        padding-left: 21rem;
        padding-right: 21rem;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .left-right-padding-small {
        padding-left: 14rem;
        padding-right: 14rem;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}
/* 1100 to 1512 */
@media (max-width: 1399px) {
    .margins {
        width: 900px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    /* body {
        width: 900px;
        margin-left: auto;
        margin-right: auto;
    } */
    #values-big, #fun-big {
        max-width: 88% !important;
    }
    #background-1, #background-2, #background-3, #background-4, #background-5, #background-6 {
        background-image: none;
        padding-left: 0rem !important;
        padding-right: 0rem !important;
    }
    .area {
        padding-left: 0rem;
        padding-right: 0rem;
    }
    .projectrow-right {
        max-width: 50%;
    }
    .project-side {
        max-width: 50%;
    }
    .body-width {
        padding-left: 0rem;
        padding-right: 0rem;
    }
    #About {
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .content {
        padding-left: 4rem;
        padding-right: 0rem;
    }
    .sidenav {
        left: 7rem;
    }
    nav {
        padding-right: 2rem;
        padding-left: 2rem;
    }
    footer {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }
    div > img {
        max-width: 100% !important;
    }
    #grey > .content {
        padding-left: 8rem;
        padding-right: 7rem;
    }
    #final {
        padding-left: 3rem;
        padding-right: 2rem;
    }
    .project-no-padding {
        flex-direction: column-reverse;
    }
    .projectrow-video {
        padding-left: 0rem;
    }
    .left-right-padding {
        margin-top: 0rem;
        margin-bottom: 0rem;
    }
    .case-study-4-col {
        width: 100% !important;
    }
    #project-2-col-text-wide {
        max-width: 45% !important;
    }
}

/* 600 to 1099 */
@media (max-width: 1099px) {
    body {
        /* width: 500px; */
        margin-left: auto;
        margin-right: auto;
    }
    .margins {
        width: 100%;
    }
    .hero, .project-1-col, .project-2-col, .case-study-content {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }
    #values-big, #fun-big {
        max-width: 88% !important;
    }
    .message {
        display: block !important;
    }
    .project {
        flex-direction: column;
    }
    .project-side {
        text-align: center;
        padding-top: 4rem;
        max-width: 100%;
    }
    .projectrow-right {
        padding-bottom: 4rem;
        text-align: center;
        align-items: center;
        max-width: 100%;
    }
    .projectimage {
        align-items: center;
        max-width: 100% !important;
    }
    .tab {
        flex-direction: column;
        text-align: center;
        align-items: center;
        max-width: 100%;
    }
    #About {
        padding-left: 3rem;
        padding-right: 2rem;
    }
    #About > .project > .projectrow-right {
        align-items: left;
        text-align: left;
        max-width: 100% !important;
    }
}
/* 320 to 599 */
@media (max-width: 599px) {
    body, #no-decor {
        /* width: 270px; */
        margin-left: auto;
        margin-right: auto;
        font-size: 14px;
    }
    h1, h1 > span {
        font-size: 32px !important;
    }
    .margins {
        width: 100%;
    }
    .logo {
        font-size: 14px;
        padding-top: 2rem;
    }
    nav > ul > li > a {
        font-size: 14px;
    }
    nav > ul > li {
        padding-left: 2rem;
    }
    .hero, .project-1-col, .project-2-col, .case-study-content {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }
    #header-body {
        max-width: 85% !important;
    }
    #header-img {
        padding-left: 0.75rem !important;
        max-width: 90% !important;
    }
    .line-behind {
        &:before {
            border-top: none;
        }
    }
    #values-big, #fun-big {
        display: none;
    }
    #values-small {
        display: block;
        max-width: 55% !important;
        margin-left: auto;
        margin-right: auto;
        padding-top: 1rem !important;
        padding-left: 0rem !important;
    }
    #fun-small {
        display: block;
        max-width: 55% !important;
        margin-left: auto;
        margin-right: auto;
        padding-top: 1rem !important;
        padding-left: 0rem !important;
        padding-bottom: 2rem;
    }
    #notice {
        display: block;
    }
    h3 {
        font-size: 24px;
    }
    .glow-gold {
        background-image: radial-gradient(ellipse at 50% 56%, #FFFFB5 0%, #F8F6F4 66%);
        background-position: bottom; /* Align the glow to the bottom */
    }
    .glow-green {
        background-image: radial-gradient(ellipse at 50% 54%, #E4FEE2 0%, #F8F6F4 70%);
        background-position: bottom; /* Align the glow to the bottom */
    }
    .glow-blue {
        background-image: radial-gradient(ellipse at 50% 54%, #DEEFFF 0%, #F8F6F4 70%);
        background-position: bottom; /* Align the glow to the bottom */
    }
    .glow-gold #HiddenText, .glow-green #HiddenText, .glow-blue #HiddenText {
        display: block;
    }
    .glow-gold > div {
        margin-right: 0rem !important;
    }
    .project-1-col-text {
        padding-bottom: 0rem;
    }
    .project-1-col {
        padding-top: 0rem;
        padding-bottom: 0rem;
    }
    h2, footer > h2 > a {
        font-size: 28px;
    }
    .line {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .project-2-col {
        flex-direction: column;
    }
    .project-2-col-image, .project-2-col-text {
        max-width: 80% !important;
    }


    .sidenav {
        display: none;
    }
    .content {
        padding-left: 0rem;
        padding-right: 0rem;
    }
    nav {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    #grey > .content {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
