body {
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 8px;
    margin-bottom: 8px;
}

.fade-in {
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
}

@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

h1 {
    font-family: "Karla", sans-serif;
    font-weight: 600;
    font-size: 38px;
    /* font-size: 42px; */
    line-height: 60px;
    /* letter-spacing: -0.01em; */
    text-align: center;
    margin: 10px;
}

#intro {
    font-weight: 600;
    font-size: 44px;
    padding-bottom: 16px;
    /* letter-spacing: -0.005em; */
}

.subtitle {
    margin: 0%;
    padding: 0%;
    padding-bottom: 1%;
}

h2 {
    font-family: "Karla", sans-serif;
    font-weight: 500;
    font-size: 30px;
    /* font-size: 30px; */
    line-height: 40px;
    letter-spacing: 0.01em;
}

#noscrollfade {
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
}

h3 {
    font-family: "Karla", sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: -0.01em;
}

ul {
    font-family: "Karla", sans-serif;
    font-size: 16px;
    line-height: 36px;
    letter-spacing: -0.005em;
    /* list-style-type: none; */
    /* overflow: hidden; */
    margin: 0%;
    padding: 0%;
}

/* li {
    display: inline;
    margin-left: 30px;
    padding: 14px 16px;
} */

nav > ul > li, footer > ul > li {
    display: inline;
    padding: 14px 16px;
}

p {
    font-family: "Karla", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* font-size: 15px;
    line-height: 32px; */
    letter-spacing: -0.005em;
}

strong {
    letter-spacing: 0.015em;
}

a {
    text-decoration: none;
    color: black;
}

hr {
    margin: 0%;
}

nav {
    /* display: inline-block; */
    height: 60px;
    align-items: center;
    padding-left: 17%;
    padding-right: 17%;
    margin-top: 24px;
    margin-bottom: 12px;
    /* margin-top: 24px;
    margin-bottom: 24px; */
    margin-left: 0%;
}

ul li a {
    text-decoration:none;
    color: black;
}

ul li a:hover {
    /* text-decoration: underline #7CAFC4 4px; */
    border-bottom: 4px #7CAFC4 solid;
}
ul li a:active {
    border-bottom: 4px #7CAFC4 solid;
}

#logo {
    float: left;
    margin: 0%;
    padding: 14px 0%;
}

.photogrid {
    padding-bottom: 75px;
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 8%;
    list-style: none;
}

#bottomalign {
    padding-top: 28px;
    align-items: center;
}

.photogridimg {
    padding: 0%;
    width: 33%;
    /* display: block; */
    /* flex: 0 1 auto; Default */
    /* list-style-type: none; */
}

.photogridimg20 {
    padding: 0%;
    width: 20%;
}

.photogridimg60 {
    padding: 0%;
    width: 60%;
}

#toprow {
    padding-top: 5px;
}

#photogridpadding {
    padding-top: 3%;
    padding-bottom: 1%;
}

#bottomrow {
    padding-bottom: 1%;
}

#bottomrow2 {
    padding-bottom: 50px;
}

#container {
    padding-top: 1%;
    padding-bottom: 2%;
}

.prototypeprocessbuttons {
    align-items: left;
    padding-top: 2%;
    padding-bottom: 4%;
    margin: 0%;
}

.primarybulletpoint, .secondarybulletpoint {
    margin-left: 30px;
    padding-bottom: 6px;
    line-height: 30px;
}

.extrabuttonpadding {
    padding-bottom: 32px;
}

.prototypeprocessbuttons > .leftcontainer {
    padding-left: 17%;
    padding-right: 17%;
}

.prototypeprocessbuttons > .leftcontainer > ul > li {
    display: inline;
    padding: 14px 16px;
    padding-left: 0%;
    margin-left: 0%;
    padding-right: 2%;
}

#links {
    float: right; 
    padding-inline-start: 0%;
}

#links > li {
    float: left;
    margin-left: 10px;
}

div {
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 0%;
}

.centercontainer {
    padding-left: 17%;
    padding-right: 17%;
    text-align: center;
    /* margin: auto 0; */
    /* padding-top: 2%;
    padding-bottom: 7%; */
    /* padding-top: 8%;
    padding-bottom: 26%; */
    /* padding-bottom: 50vh; */
    /* top: 10vh; */
    /* min-height: 85vh;
    display: block;
    position: relative; */
    /* border: 3px solid green; */
    /* overflow: auto; */
    /* flex-direction: row;
    align-items: flex-start; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 540px; */
    height: 80vh;
    /* min-height: 85vh; */
    margin-top: 0%;
}

.verticallycenter {
    /* min-height: 85vh; */
    display: block;
    position: relative;
    margin: 0%;
    margin-bottom: 40px;
    /* position: absolute; */
    /* width: 70%; */
    /* top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
}

#verticallycenterhigher {
    top: 40%;
}

.shortcentercontainer {
    padding-left: 17%;
    padding-right: 17%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#maintenance {
    height: 85vh;
}

#headernomargin {
    font-size: 40px;
    line-height: 50px;
}

#headernomargin2 {
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.01em;
}

.leftcontainer {
    text-align: left;
    /* background-size: cover; */
    padding-left: 17%;
    padding-right: 17%;
    padding-bottom: 3%;
    margin-top: 0%;
    margin-bottom: 0%;
}

.leftcontainer > h2 {
    margin-top: 0%;
}

.button {
    font-family: Karla;
    font-size: 16px;
    line-height: 28px;
    background: #7CAFC4;
    color: white;
    margin-top: 0%;
    padding: 16px 32px;
    /* padding-bottom: 16px; */
    /* padding: 2% 5%; */
    border-radius: 34px;
    border: transparent;
    outline: none;
}

.button:hover {
    background-color: #72A5BA;
    border-bottom: 0px;
}

#mainbutton {
    /* padding-top: 7%; */
    padding-top: 42px;
}

a .fa {  
  font-size:1.5em;
  border-radius: 50%;
  border: solid white;
  color: white;
  background: #7CAFC4;
  line-height: 2em;
  width: 2em;
  height: 2em;
  text-align: center;
  display: inline-block;
  transition:0.5s;
  vertical-align: top;
}

#disabledbutton {
    background: grey;
}

#ghostbutton {
    background: transparent;
    border: 5px solid #7CAFC4;
    padding: 12px 37px;
    /* padding: 1.5% 5%; */
}

#subheader {
    text-align: center;
}

#scroll-target {
    background-color: #393c4e;
    background-size: cover;
    color: #F4F4F5;
    /* padding-left: 17%;
    padding-right: 17%; */
    /* padding-top: 50px; */
    padding-top: 4%;
    padding-bottom: 1%;
    margin: 0%;
}

.socials {
    margin-top: 0%;
    margin-bottom: 0%;
    display: inline;
    flex-direction: row;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 4%;
}

.socials > ul {
    width: 100%;
}

.socials > ul > li {
    display: inline;
    padding-right: 3px;
    padding-left: 3px;
    padding-top: 0%;
    padding-bottom: 0%;
}

#photo {
    padding-top: 12px;
    padding-bottom: 0%;
}

#projectphoto {
    padding-top: 2%;
    padding-bottom: 0%;
}

#projectsheader {
    /* padding-top: 2px; */
    font-size: 42px;
    padding-bottom: 64px;
    letter-spacing: 0.025em;
    font-weight: 500;
    /* padding-bottom: 5%; */
}

#header2nomargin {
    margin-top: 0%;
    margin-bottom: 0%;
}

.project {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0%;
    padding-bottom: 8%;
    /* padding-bottom: 16%; */
    padding-left: 17%;
    padding-right: 17%;
}

#shortproject {
    padding-bottom: 3%;
}

.projecttextbuttonleft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 0%;
    padding-right: 8%;
    width: 50%;
    /* padding-right: 80px; */
}

#projecttextbuttonleft60 {
    width: 70%;
    text-align: left;
}

.projectimage {
    width: 50%;
}

#projectimage40 {
    width: 30%;
}

.projecttextleft {
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: 0%;
}

.projecttextleft > h2 {
    margin-top: 0%;
}

#scroll-target > .leftcontainer {
    padding-left: 17%;
    padding-right: 17%;
    padding-bottom: 2%;
}

#scroll-target > .leftcontainer > h2 {
    margin-bottom: 16px;
}

div > .leftcontainer {
    padding-bottom: 2%;
}
div > .leftcontainer > h2 {
    margin-bottom: 12px;
}

.projecttextbuttonright {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0%;
    padding: 0%;
    margin-bottom: 0%;
    padding-left: 12%;
    /* padding-left: 90px; */
    margin-right: 0%;
    width: 50%;
}

.projecttextright {
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: 0%;
    margin-right: 0%;
}

.projecttextright > h2 {
    margin-top: 0%;
}

footer {
    margin-top: 4%;
    margin-bottom: 5%;
    /* margin-top: 50px;
    margin-bottom: 56px; */
    /* height: 160px; */
    position: relative;
    justify-content: center;
    text-align: center;
    padding-left: 17%;
    padding-right: 17%;
}

footer ul li {
    margin-left: 10px;
}

#projectbutton {
    height: 100%;
    width: 100%;
}

/* #projectbutton > .button {
    padding: 4% 8%;
} */

/* #projectbutton > #ghostbutton {
    padding: 3.25% 7%;
} */

/* MEDIA QUERIES FOR RESPONSIVE WEB DESIGN
392 just socials and navbar li left and right padding
532 just navbar up and down padding
680 for adjusting all containers padding
885 just side by side view
900 fixed width */

@media (max-width: 392px) {
    a .fa {
        font-size:1.05em;
    }
    .socials {
        width: 100%;
    }
    .socials > ul > li {
        padding-right: 1px;
        padding-left: 1px;
        font-size: 16px;
    }
    #links > li {
        padding-left: 0%;
        padding-right: 0%;
    }
    .button {
        padding: 14px 26px;
        font-size: 14px;
    }
    #longbutton {
        padding: 14px 13px;
        font-size: 14px;
    }
    .prototypeprocessbuttons > .leftcontainer > ul > li {
        line-height: 40px;
    }
    #ghostbutton {
        padding: 11px 22px;
    }
    #scroll-target {
        padding-top: 8%;
        padding-bottom: 8%;
    }
}

@media (max-width: 532px) {
    #links > li { 
        padding-top: 0%;
        padding-bottom: 8%;
    }
    .subtitle {
        padding-top: 8%;
    }
}

@media (max-width: 680px) {
/* @media (max-width: 480px) { */
    p {
        font-size: 14px;
    }
    h1 {
        font-size: 32px;
        line-height: 40px;
    }
    h2 {
        font-size: 24px;
    }
    ul {
        font-size: 14px;
    }
    .centercontainer, .shortcentercontainer, .project {
        padding-left: 12%;
        padding-right: 12%;
        width: 76%;
    }
    /* .centercontainer > .verticallycenter {
        width: 76%;
    } */
    #intro {
        font-size: 36px;
        line-height: 50px;
    }
    #container {
        margin-bottom: 7%;
    }
    .photogrid {
        display: block;
    }
    .photogridimg, .photogridimg60 {
        width: 100%;
    }
    .photogridimg20 {
        width: 60%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    #toprow {
        padding-top: 8px;
    }
    .prototypeprocessbuttons {
        padding-bottom: 5%;
    }
    .prototypeprocessbuttons > .leftcontainer {
        padding-left: 12%;
        padding-right: 12%;
    }
    .prototypeprocessbuttons > .leftcontainer > ul > li {
        display: block;
        padding-top: 4%;
        padding-bottom: 12%;
    }
    nav, .leftcontainer, footer {
        padding-left: 12%;
        padding-right: 12%;
    }
    footer > h2 {
        margin-top: 8%;
        margin-bottom: 3%;
    }
    footer > ul > li {
        display: block;
        padding: 2%;
        font-size: 14px;
    }
    #links > li {
        font-size: 14px;
    }
}

@media (max-width: 885px) {
    #projectsheader {
        padding-top: 4%;
        padding-bottom: 3%;
    }
    .project {
        display: flex;
        flex-direction: column-reverse;
    }
    #projectright {
        display: flex;
        flex-direction: column;
    }
    .projecttextbuttonleft, .projecttextbuttonright {
        padding-left: 0%;
        padding-right: 0%;
        text-align: center;
        width: 100%;
    }
    #projectbutton {
        margin: 0 auto;
    }
    .projectimage {
        width: 80%;
        padding-bottom: 4%;
    }
    #projecttextbuttonleft60 {
        width: 100%;
        text-align: left;
    }
    #projectimage40 {
        width: 60%;
    }
    #shortproject {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 900px) {
    .verticallycenter {
        max-width: 550px;
    }
    nav, .shortcentercontainer, .leftcontainer, .project, .centercontainer {
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
    }
    #projectphotomain {
        width: 595px;
    }
}
