/* Homepage styling */

/* Projects list */
.projectsList {
    gap: 9rem;
    padding-bottom: 2rem;
}

.projectsListItem {
    /* cursor: pointer; */
    transition: transform 0.3s ease-in-out;
}

.projectsListItem:hover {
    transform: translateY(-14px);
    opacity: 90%;
}

.cursor-eyes, .cursor-eyes:hover {
    cursor: url('../assets/cursor-eyes.svg'), auto;
}

.projectsListImage {
    padding: 2.75rem;
}

.hover-container {
    position: relative;
    display: inline-block;
    /* cursor: pointer; */
    cursor: url('../assets/cursor-eyes.svg'), auto;
}

.popup-image {
    position: absolute;
    display: none;
    width: 250px;
    height: auto;
}

.name {
    top: -100px;
    left: 200px;
}

.eating {
    top: -150px;
    left: 250px;
}

.creating {
    top: -150px;
    left: -365px;
}

.adventures {
    top: -150px;
    left: 525px;
}

.experimenting {
    top: -150px;
    left: 375px;
}

.laughing {
    top: -150px;
    left: -375px;
}

.hover-container:hover .popup-image {
    display: block;
}
  
.hover-container-tag:hover {
    opacity: 90%;
}

.tags-container {
    position: absolute; /* Use absolute positioning */
    bottom: 2.25rem; /* Align to the bottom of the parent container */
    right: -1.5rem; /* Align to the right of the parent container */
    display: flex;
    flex-direction: column; /* Stack tags vertically */
    gap: 5px; /* Adjust spacing between tags */
    z-index: -1000; 
    height:400px;
    width: 950px;
    background: linear-gradient(335deg, var(--PRIMARY-BLUE-500-OPAQUE) 20%, rgba(0, 71, 255, 0) 49.4%);
}

