/* Homepage styling */

/* Projects list */
.projectsList {
    gap: 9rem;
    padding-bottom: 2rem;
}

.projectsListItem {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.projectsListItem:hover {
    transform: translateY(-14px);
    opacity: 90%;
}

.projectsListImage {
    padding: 3.25rem;
}