/* Project page styling */

/* Project page header */
.projectHeaderContainer {
    gap: 3rem;
    text-align: center;
    padding-top: 4.5rem;
}

/* Project page header image */
.projectHeaderImage {
    min-height: 70vh;
    width: 100%;
}

.projectHeaderImage2Col {
    gap: 4rem;
    padding: 2.25rem 3rem 2.25rem 4.5rem;
}

.projectHeaderImage2ColLeft {
    max-width: 30%;
}

.projectHeaderImage2ColRight {
    max-width: 70%;
}

/* Text margins */
.projectTextOnlyMargins {
    margin-left: 12.5rem;
    margin-right: 12.5rem;
}

.projectTextImageMargins {
    margin-left: 10rem;
    margin-right: 10rem;
}

.projectTextImageMarginsText {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

.projectContextLeft {
    width: 78%;
    padding-right: 1.5rem;
}

.projectContextRight {
    max-width: 26%;
    gap: 2.5rem;
}

.projectTextHeader20 {
    width: 22%;
    /* padding-right: 1.5rem; */
}

.projectTextText80 {
    width: 78%;
}

.gapProjectGrouping {
    gap: 4rem;
}

.gapProjectGroupingImpact {
    gap: 5.75rem;
}

.projectListNumberCircle {
    min-width: 8%;
}

.gapProjectListNumberGrouping {
    gap: 2rem;
}

.gapProjectListNumberItem {
    gap: 2.125rem;
}

.projectCenter {
    text-align: center;
}

.projectCenterSparkles {
    max-width: 10%;
}

.projectRightSparkles {
    max-width: 8%;
    margin-right: 3.5rem;
}

.styledList {
    margin-bottom: 1.5rem;
}

.styledList > li {
    list-style: disc;
    margin-left: 1rem;
    padding-left: 0.75rem;
    margin-top: 1rem;
}

/* Carousel */
#container {
    height:350px; 
    position:relative; 
    overflow:hidden;
}

.photobanner {
    position:absolute; 
    top:0px; 
    left:0px; 
    overflow:hidden; 
    white-space: nowrap;
    /* animation: bannermove 120s linear infinite; */
}

.photobanner-snappea {
    animation: bannermove 100s linear infinite;
}

.photobanner-blueprint {
    animation: bannermove 60s linear infinite;
}

.photobanner img {    
    margin: 0 0.5em;
    height: 350px;
    width: auto;
}

@keyframes bannermove {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-50%, 0);
    }
}
  
