/* Project page styling */

/* Project page header */
.projectHeaderContainer {
    gap: 3rem;
    text-align: center;
    padding-top: 4.5rem;
}

/* Project page header image */
.projectHeaderImage {
    min-height: 70vh;
    width: 100%;
}

/* Text margins */
.projectTextOnlyMargins {
    margin-left: 12.5rem;
    margin-right: 12.5rem;
}

.projectTextImageMargins {
    margin-left: 10rem;
    margin-right: 10rem;
}

.projectTextImageMarginsText {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

.projectContextLeft {
    width: 78%;
    padding-right: 1.5rem;
}

.projectContextRight {
    max-width: 26%;
    gap: 2.5rem;
}

.projectTextHeader20 {
    width: 20%;
    padding-right: 1.5rem;
}

.gapProjectGrouping {
    gap: 4rem;
}

.projectListNumberCircle {
    min-width: 8%;
}

.gapProjectListNumberGrouping {
    gap: 2rem;
}

.gapProjectListNumberItem {
    gap: 2.125rem;
}

.projectCenter {
    text-align: center;
}

.projectCenterSparkles {
    max-width: 10%;
}