/* Text classes and styles follow Figma design system */
/* Global variables used (ex. var(--GLOBAL-FONT), var(--PRIMARY-BLUE-500)) declared in App.css */
* {
    font-family: var(--GLOBAL-FONT);
    font-style: normal;
}

.nav-inactive {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.nav-active, .nav-inactive:hover {
    color: var(--PRIMARY-BLUE-500);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    text-decoration: underline;
    cursor: pointer;
    /* opacity: 100%; */
} 

h1 {
    font-size: 3rem;
    font-weight: 500;
    line-height: 4.5rem;
    letter-spacing: -0.03rem;
}

h2 {
    font-size: 2.75rem;
    font-weight: 400;
    line-height: 3.625rem;
    letter-spacing: -0.055rem;
}

.h2-medium {
    font-size: 2.75rem;
    font-weight: 500;
    line-height: 3.375rem;
    letter-spacing: -0.055rem;
}

h3 {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 3.45rem;
    letter-spacing: -0.05rem;
}

h4 {
    font-size: 2.25rem;
    font-weight: 500;
    line-height: 2.875rem;
    letter-spacing: -0.045rem;
}

h5 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.875rem;
    letter-spacing: -0.03rem;
}

h6 {
    font-size: 1.625rem;
    font-weight: 500;
    line-height: 2.5rem;
    letter-spacing: -0.01625rem;
}

/* b1 */
p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
}

.b1-medium {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.625rem;
}

/* b1 link */
a {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    text-decoration-line: underline;
    color: inherit;
}

a:hover {
    color: var(--PRIMARY-BLUE-500);
    /* opacity: 80%; */
    cursor: pointer;
}

.logo {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.625rem;
}

.b2 {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.75rem;
}

.b2-medium {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.625rem;
}

.b3 {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 2rem;
}

.b3-medium {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 2rem;
}

.small {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.375rem;
}