<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stacy Kwok's Portfolio</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    {% load static %}
    <link href="{% static 'css/main.css' %}" rel="stylesheet">

    <meta name="robots" content="noindex">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <nav style="min-height: 7rem; background-color: #26292A;">
        <a href="/"><h5 class="logo">SK</h5></a>
        <ul id="links">
            <li><a href="/">Portfolio</a></li>
            <li><a href="me/">Me</a></li>
            <li><a href="{% static 'assets/stacy-kwok-resume-f22.pdf' %}" target="_blank">Resume</a></li>
        </ul>
    </nav>

    <div class="left-right-padding" style="padding-left: 21rem; padding-right: 21rem; margin-top: 0px; margin-bottom: 0px; background-color: #26292A; color: #E9E9EB;">
        <p class="message" style="color: red; display: none;">This case study has not been optimized for smaller screensizes yet! <strong>For an easier reading experience, please view on a larger screen. </strong>Stay tuned for improved mobile view!</p>
        <br>
        <img src="{% static 'assets/sdc-header.png' %}" style="max-width:100%; height:auto;" id="photo">
        <br><br><br><br><br>
        <h1 style="margin-top: 0px;">Re-envisioning the SDC <span style="color: #E2F5FD;">program registration experience</span> for parents & volunteers</h1>
        <p>In spring 2021, UW Blueprint partnered with Social Diversity for Children Foundation (SDC) to build them a new platform to simplify & streamline the program & volunteer registration processes. </p>
        <p>Previously they tracked registration by hand, before they switched to using a third party platform which did not meet all their registration needs.</p>
        <br><br><br>
        <div class="section" id="context">
            <h6><span style="color: #E2F5FD;">Organization</span></h6>
            <p>UW Blueprint</p>
            <h6><span style="color: #E2F5FD;">Timeline</span></h6>
            <p>May-Aug 2021</p>
            <h6><span style="color: #E2F5FD;">Team</span></h6>
            <p>2 product designers <br> 1 product manager <br> 1 project lead <br> 6 developers</p>
            <h6><span style="color: #E2F5FD;">Skills</span></h6>
            <p>User research <br> Interaction design <br> Visual design <br> Product strategy</p>
        </div>
        <br><br><br>
        <!-- <div class="project" data-aos="fade-up" data-aos-once="true" data-aos-delay="8" data-aos-duration="600" data-aos-easing="ease-in-out" data-aos-mirror="false" style="padding-bottom: 5rem;">
            <div class="projectrow-right" style="max-width: 80%;">
                <p class="message" style="color: red; display: none;">This case study has not been optimized for smaller screensizes yet! <strong>For an easier reading experience, please view on a larger screen. </strong>Stay tuned for improved mobile view!</p>
                <h1>Program & volunteer <span style="color: #E2F5FD;">registration platform</span></h1>
                <p>Building Social Diversity for Children Foundation (SDC) a platform to streamline their program registration process for volunteers and parents of kids with disabilities</p>
                <br><br>
                <img src="assets/sdc-header.png" style="max-width:100%; height:auto;" id="photo">
                <br><br><br><br>
                <div class="section" id="context">
                    <h6><span style="color: #E2F5FD;">Context</span></h6>
                    <p>Since fall 2020, I’ve been volunteering my time on UW Blueprint, a club aiming to make technology accessible to community non-profits without the funding. Each term I’ve got to work on a project team with other students, and each project team works with a non-profit with a need to help build them a solution and equip them with the tools they need.</p>
                    <p>Last term in spring 2021, UW Blueprint partnered with <span style="color: #E2F5FD; font-weight: 600;">Social Diversity for Children Foundation</span> (SDC) to build them a tool to <span style="color: #E2F5FD; font-weight: 600;">simplify and streamline the program and volunteer registration processes</span>. SDC is a non profit that empowers youth to empower children with disabilities through a variety of programs.</p>
                </div>
                <br>
                <div class="section">
                    <h6><span style="color: #E2F5FD;">Project Details</span></h6>
                    <p><span style="color: #E2F5FD; font-weight: 600;">TEAM:</span> 2 product designers  (Christina Ru & I) + 1 product manager + 1 project lead + 6 developers <br><span style="color: #E2F5FD; font-weight: 600;">TIMELINE:</span> May-Aug 2021 <br><span style="color: #E2F5FD; font-weight: 600;">MY ROLE:</span> User research, product strategy, interaction & visual design</p>
                </div>
            </div>
            <div class="projectimage" style="text-align: left; max-width: 10%; display: flex; flex-direction: column;">
                <a href="#context" style="font-weight: 600;">Context</a>
                <a href="#empathize" style="font-weight: 600;">Empathize</a>
                <a href="#define" style="font-weight: 600;">Define</a>
                <a href="#ideate" style="font-weight: 600;">Ideate</a>
                <a href="#prototype" style="font-weight: 600;">Prototype</a>
                <a href="#user-testing" style="font-weight: 600;">Test</a>
                <a href="#final" style="font-weight: 600;">Final designs</a>
                <a href="#reflection" style="font-weight: 600;">Reflection</a>
            </div>
        </div> -->
    </div>

    <div class="left-right-padding" style="padding-left: 21rem; padding-right: 21rem; margin-top: 0px; color: #26292A; background-color: #E2F5FD;">
        <br><br>
        <h6>The project</h6>
        <h2>How might we improve the program & volunteer registration experience...</h2>
        <p>...to encourage program registration and ease volunteer management?</p>
        <br><br><br><br><br>
    </div>

    <button onclick="topFunction()" id="toTop" title="Go to top" style="display: none;"><i class="material-icons" style="padding-right: 4px; padding-bottom: 4px;">arrow_upward</i>Jump back to top</button>

    <style>
        html {
            font-size: 16px;
            color: #3a3a3a;
            background-color: #FFFFFF;
            margin-left: 0%;
            margin-right: 0%;
            overflow-x: hidden;
        }
    </style>

    <br><br>
    <div style="display: flex; justify-content: center;">
        <img src="{% static 'assets/sdc-hifi-1.png' %}" style="max-width:75%; height:auto;">
    </div>

    <div class="left-right-padding" style="padding-left: 21rem; padding-right: 21rem;" id="empathize">
        <br><br>
        <h6>The process</h6>
        <h2>01: Understanding the problem</h2>
        <div class="section">
            <h6>First off... who are the users?</h6>
            <p><strong>Parents</strong><br>Parents who want to register their kids in the SDC programs</p>
            <p><strong>Volunteers</strong><br>High school students who want to give back through supporting youth with disabilities, and primarily help through supporting and assisting SDC teachers during programs</p>
            <p><strong>Program coordinators/admin</strong><br>Staff who would be managing the platform, posting classes</p>
            <p><strong>Teachers</strong><br>Staff who teach at the programs and work with youth hands-on</p>
        </div>
        <br>
        <div class="section">
            <h6>Constraints & requirements</h6>
            <ul>
                <li>Multi-language platform (4 languages!)</li>
                <li>Background check & proof of income document upload</li>
                <li>Mobile & desktop friendly</li>
                <li>1 platform with different access points for different users</li>
            </ul>
        </div>
        <br>
        <div class="section">
            <h6>Let’s do some (secondary) research!</h6>
            <p><strong>User interviews</strong> were conducted with volunteers and program coordinators/teachers. This led to insightful knowledge and helped squash any assumptions we still had.</p>
            <p>After collecting all research and scoping knowledge of users and the problem, we held a <strong>discovery session</strong> in which we mapped the pain points, opportunities, and goals of each user. This was helpful in ensuring we all had an aligned vision for the product, and reinforcing our knowledge of each users. We also proceeded to map <strong>user journeys</strong> for each user, to really understand their experience through the processes they encounter.</p> 
        </div>
    </div>

    <div style="display: flex; justify-content: center;">
        <img src="{% static 'assets/sdc-research-1.png' %}" style="max-width:75%; height:auto;">
    </div>
    <div style="display: flex; justify-content: center;">
        <img src="{% static 'assets/sdc-research-2.png' %}" style="max-width:75%; height:auto;">
    </div>
    <br><br><br>

    <div class="left-right-padding" style="padding-left: 21rem; padding-right: 21rem; color: #26292A; background-color: #E2F5FD;" id="define">
        <br>
        <h6 style="margin-bottom: 2rem;">Problem statements</h6>
        <p><strong>Parents</strong><br>A parent needs a way to save their registrant information so that they can easily register their child for a program/class</p>
        <p><strong>Volunteers</strong><br>A volunteer needs a way to save their registrant information so that they can easily register to volunteer for a program/class</p>
        <p><strong>Program coordinators/admin</strong><br>A program coordinator needs a way to manage information gathered in the parent and volunteer registration so that they can easily manage programs</p>
        <p><strong>Teachers</strong><br>A teacher needs a way to have full awareness of participant information while planning the program before class starts so that they can cater their planning based on their students needs</p>
        <br><br><br><br>
    </div>

    <div class="left-right-padding" style="padding-left: 21rem; padding-right: 21rem;" id="ideate">
        <br><br><br>
        <h2>02: Ideation</h2>
        <div class="section">
            <h6>User flows</h6>
            <p>High level user flows were mapped out so we could get a high level understanding of the product. These flows were also helpful for the developers as well!</p>
        </div>
    </div>

    <div style="display: flex; justify-content: center;">
        <img src="{% static 'assets/sdc-ideation-1.png' %}" style="max-width:75%; height:auto;">
    </div>
    <br>

    <div class="left-right-padding" style="padding-left: 21rem; padding-right: 21rem;" id="prototype">
        <br>
        <h2>03: Thinking mobile first</h2>
        <div class="section" style="padding-bottom: 0rem;">
            <h6>Lo-fis v1, v2, v3...</h6>
            <p>As the mobile experience of this platform should be prioritized, we built out the screens in lo-fi according to the user flows determined above. <br> Here’s <strong>one set </strong>of lo-fis for the Document Submission flow!</p>
        </div>
        <br><br>
        <p><strong>Version #1: volunteer account --> background check</strong></p>
    </div>

    <div style="display: flex; justify-content: center;">
        <img src="{% static 'assets/sdc-lofi-1.png' %}" style="max-width:75%; height:auto;">
    </div>
    <br><br>

    <div class="left-right-padding" style="padding-left: 21rem; padding-right: 21rem;">
        <br>
        <p><strong>Version #2: volunteer account --> background check</strong></p>
    </div>

    <div style="display: flex; justify-content: center;">
        <img src="{% static 'assets/sdc-lofi-2.png' %}" style="max-width:75%; height:auto;">
    </div>
    <br>

    <div class="left-right-padding" style="padding-left: 21rem; padding-right: 21rem;" id="user-testing">
        <br>
        <h2>04: Let's get testing</h2>
        <div class="section" style="padding-bottom: 0.5rem;">
            <h6>User testing</h6>
            <p>After doing more than 4 different mobile explorations and experimenting with 3 different versions of lo-fidelity designs, we put together a <strong>mobile prototype that we sent to parents & volunteers for user testing</strong>. We used <strong>Maze</strong>, a user-testing platform that allowed us to see how users directly interacted with our prototype. We were able to see many statistics and heat maps from the testing, and were able to get questions we had for them asked within the same platform.</p>
        </div>
    </div>
    <div style="display: flex; justify-content: center;">
        <img src="{% static 'assets/sdc-testing-1.png' %}" style="max-width:75%; height:auto;">
    </div>
    <div style="display: flex; justify-content: center;">
        <img src="{% static 'assets/sdc-testing-2.png' %}" style="max-width:75%; height:auto;">
    </div>

    <div class="left-right-padding" style="padding-left: 21rem; padding-right: 21rem;">
        <br>
        <table>
            <tr style="background-color: #E2F5FD;">
                <td>Key insights</td>
                <td>Action items</td>
            </tr>
            <tr>
                <td>Parents had difficulty using language selector on the main page; not clear enough where to change language since the entire page was English.</td>
                <td>Worked on developers on clearer options for language selection; decided that language selection would pop up the first time users landed on a page and the choice would be stored in a cookie.</td>
            </tr>
            <tr>
                <td>Varying level of ease for parents in signing up for an account; one tester notably kept starting the sign up process then clicking X and going back to the first sign up page and then starting and clicking the back button. Looked like tester was confused about back versus X button, appeared as though they were trying to use a back button on the Sign Up page that wasn't there.</td>
                <td>Made sure to double check that we had the back button on all pages we needed it on, as well as the X button. Added the text "Back" to make it clearer the function of the back arrow.</td>
            </tr>
            <tr>
                <td>Misclicks on classes page, which could have been because they were confused on which class to click in the prototype, but also got us thinking about comparing classes.</td>
                <td>Decided to switch to popup rather than a page to make it easiser to compare all the details.</td>
            </tr>
            <tr>
                <td>Volunteers had a really easy time with the platform! Testing led to positive results.</td>
                <td></td>
            </tr>
        </table>
        <br><br><br><br>

        <h2>05: Moving from mobile to desktop</h2>
        <div class="section" style="padding-bottom: 0rem;">
            <p>As the developers needed desktop screens to start frontend development, we quickly pivoted to working on the desktop experience after the mobile experience was finished.<br> Here’s <strong> one set</strong> of a lo-fi flow for mobile being turned into a desktop experience!</p>
        </div>
        <br>
        <p><strong>Mobile to desktop: volunteer sign up</strong></p>
    </div>

    <div style="display: flex; justify-content: center;">
        <img src="{% static 'assets/sdc-iteration-2.png' %}" style="max-width:75%; height:auto;">
    </div>

    <div class="left-right-padding" style="padding-left: 21rem; padding-right: 21rem;">
        <br>
        <h2>06: The transformation of the main landing page</h2>
        <p>While majority of the pages were form or text heavy, the main page was a dashboard which the additional space on desktop provided great opportunity to make use of the additional space effectively, to improve the browsing experience.</p>
    </div>
    <div style="display: flex; justify-content: center;">
        <img src="{% static 'assets/sdc-iteration-3.png' %}" style="max-width:75%; height:auto;">
    </div>
    <br>

    <div class="left-right-padding" style="padding-left: 21rem; padding-right: 21rem;">
        <br>
        <h2>07: Let's iterate</h2>
        <p>Iterative design was used for the entire platform, especially after recieving feedback from client meetings, user testing, and design critiques. <br><br> The landing page in particular went through many iterations before arriving at the final design, which I highlight below.</p>
    </div>
    <div style="display: flex; justify-content: center;">
        <img src="{% static 'assets/sdc-iteration-4.png' %}" style="max-width:75%; height:auto;">
    </div>
    <br><br><br><br>

    <div class="left-right-padding" style="padding-left: 21rem; padding-right: 21rem;">
        <h2>08: Moving from lo-fi to hi-fi</h2>
        <div class="section">
            <h6>Visual design</h6>
            <p>For the design system, we wanted to keep it consistent with the rest of SDC’s brand, so we based the design system we created off the branding & styling in their current main website.</p>
        </div>
    </div>
    <div style="display: flex; justify-content: center;">
        <img src="{% static 'assets/sdc-iteration-8.png' %}" style="max-width:75%; height:auto;">
    </div>

    <div class="left-right-padding" style="padding-left: 21rem; padding-right: 21rem;">
        <br><br>
        <h2>09: Making design decisions</h2>
        <div class="section">
            <h6>Design decision #1: reminder & skip upload option</h6>
            <p>One key decision made was prompting/reminding the user to submit documents within the flow. A screen giving users information on the required document they must submit, along with prompts to upload documents now or to skip for later. This opportunity/reminder shows up in the following flows, and is justified as follows:</p>
        </div>
        <table>
            <tr style="background-color: #E2F5FD;">
                <td>Scenario</td>
                <td>Reason for placement in scenario</td>
            </tr>
            <tr>
                <td>When signing up for an account, the screen would appear and ask the user to submit the required document or skip.</td>
                <td>Placing it in the first flow, sign up, will introduce the need for the document early on. It will make the user aware that this is a document they should need to upload later on.</td>
            </tr>
            <tr>
                <td>When registering for a program, whether the screen shows up is dependent on whether they have submitted the document, and the status of the document.</td>
                <td>It is still important to remind users during this flow to submit documents if they haven’t, again so that they are aware of what is missing and what obligations they will need to fufill if they don’t. Placing it in this flow will hopefully encourage users to upload their documents.</td>
            </tr>
        </table>
        <br>
    </div>

    <img src="{% static 'assets/sdc-iteration-6.png' %}" style="max-width:100%; height:auto;">
    <br>

    <div class="left-right-padding" style="padding-left: 21rem; padding-right: 21rem;">
        <div class="section" style="padding-bottom: 0.5rem;">
            <br>
            <h6>Design decision #2: notice on main page</h6>
            <p>In a similar vein to the decision above, it was also important for us to make users aware that they haven’t submitted certain documents yet. We want to encourage and remind them too. In addition to placing prompts within the sign up and registration flow, a decision we made was to include a notice on the home page when logged into their account, if they have not submitted their document yet.<br>
            In terms of interaction, this notice would remain on the page until<br>
            a) The user closes the notice, in which this notice would reappear the next time they log in<br>
            b) The document has been submitted</p>
        </div>
    </div>

    <div style="display: flex; justify-content: center;">
        <img src="{% static 'assets/sdc-iteration-7.png' %}" style="max-width:100%; height:auto;">
    </div>
    <br><br><br>

    <div class="main" style="margin-bottom: 0px;">
        <div class="scroll-target" style="background-color: #E2F5FD">
            <div class="section" id="final">
                <br>
                <h2 id="scroll-target-h2-shortened">10: Final designs</h2>
                <div class="project-no-padding">
                    <div class="projectimage-video">
                        <video width="100%" height="auto" autoplay loop muted playsinline>
                            <source src="{% static 'assets/sdc-demo-1.mp4' %}" type="video/mp4">
                        </video>
                    </div>
                    <div class="projectrow-video">
                        <div class="section">
                            <h6>Inviting programs & classes to browse through</h6>
                            <ul>
                                <li>Provides all users of the platform with the information they need to know about the classes as well as the registeration process itself</li>
                                <li>Toggle for information targeted for parents & volunteers</li>
                                <li>Clear descriptions on the program and classes provided</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="project-no-padding">
                    <div class="projectimage-video">
                        <video width="100%" height="auto" autoplay loop muted playsinline>
                            <source src="{% static 'assets/sdc-demo-2.mp4' %}" type="video/mp4">
                        </video>
                    </div>
                    <div class="projectrow-video">
                        <div class="section">
                            <h6>Simple account sign up & program registration</h6>
                            <ul>
                                <li>Notice to provide proof of income or background check if haven’t yet</li>
                                <li>Notice of expired check within process</li>
                                <li>Easy option within registeration process to upload, as well as ability to upload in account</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="project-no-padding" style="padding-bottom: 2rem;">
                    <div class="projectimage-video">
                        <video width="100%" height="auto" autoplay loop muted playsinline>
                            <source src="{% static 'assets/sdc-demo-3.mp4' %}" type="video/mp4">
                        </video>
                    </div>
                    <div class="projectrow-video">
                        <div class="section">
                            <h6>Account management</h6>
                            <ul>
                                <li>Ability to add multiple children to a parent account to register into classes</li>
                                <li>Check status of submitted documents with ease</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="left-right-padding" style="padding-left: 21rem; padding-right: 21rem;">
        <br><br>             
        <p>Project status</p>
        <h2>The designs for the external platform are currently being brought to life by developers!</h2>
        <p>Designers are collaborating with developers on implementation, with the goal to have the platform shipped and ready for SDC to use by the end of 2021. Come  back soon for the live link to the platform!</p>
    </div> -->

    <div class="left-right-padding" style="padding-left: 21rem; padding-right: 21rem; background-color: #26292A; color: #E9E9EB; padding-top: 1.5rem; padding-bottom: 0.75rem; margin-top: 0px; margin-bottom: 0px;" id="reflection">
        <br>
        <h6><span style="color: #E2F5FD;">Reflection</span></h6>
        <h2>Key learnings</h2>
        <ul>
            <li>Working with design system and assets provided by a non profit</li>
            <li>Designing mobile-first while also keeping in mind developer needs of coding desktop first</li>
            <li>Using a data driven user-testing platform like Maze</li>
            <li>Recieving feedback at design critique with other designers</li>
        </ul>

        <!-- <div class="section">
            <h6>Next Steps</h6>
            <ul>
                <li>Performing additional usability testing to iterate and improve on this design</li>
                <li>Work on internal platform aspect which focuses on program coordinator & admin management!</li>
            </ul>
        </div> -->
    </div>

    <script>
        $(document).ready(function(){
        // Add smooth scrolling to all links
        $("a").on('click', function(event) {
        
            // Make sure this.hash has a value before overriding default behavior
            if (this.hash !== "") {
            // Prevent default anchor click behavior
            event.preventDefault();
        
            // Store hash
            var hash = this.hash;
        
            // Using jQuery's animate() method to add smooth page scroll
            // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
            $('html, body').animate({
                scrollTop: $(hash).offset().top
            }, 1000, function(){
        
                // Add hash (#) to URL when done scrolling (default click behavior)
                window.location.hash = hash;
            });
            } // End if
        });
        });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        //Get the button
        var mybutton = document.getElementById("toTop");
        
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {scrollFunction()};
        
        function scrollFunction() {
          if (document.body.scrollTop > 200 || document.documentElement.scrollTop > 200) {
            mybutton.style.display = "flex";
          } else {
            mybutton.style.display = "none";
          }
        }
        
        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
          document.body.scrollTop = 0;
          document.documentElement.scrollTop = 0;
        }
    </script>

    <div class="left-right-padding" style="background-color: #26292A; color: #E9E9EB; padding-top: 0rem; padding-bottom: 0.4rem; margin-top: 0px; margin-bottom: 0px;">
        <footer style="margin-top: 0px; margin-bottom: 0px; padding-top: 2rem; padding-bottom: 5rem;">
            <!-- was 3 and 3 before -->
            <div class="line"></div>
            <h2 style="margin-top: 5rem;">Thanks for stopping by...</h2>
            <p>While you’re here, you should definitely send a message and say hi!</p>
            <!-- <i style="color: #FFFCA9">(rhyme intended)</i> -->
            <br><br>
            <ul>
                <li id="first"><a href="mailto:@stacykwok01@gmail.com" target="_blank" id="links-detached">Email</a></li>
                <li><a href="https://www.linkedin.com/in/stacykwok-01/" target="_blank" id="links-detached">Linkedin</a></li>
            </ul>
        </footer>
    </div>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>AOS.init();</script>
</body>

</html>